.app {
  min-height: 100vh;
}
.item {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  background-color: rgb(35, 35, 35);
}
h1 {
  font-size: 500%;
  font-weight: lighter;
}
h3,
p {
  width: 80%;
  text-align: center;
  white-space: pre-wrap;
}
h3 {
  font-size: 300%;
  font-weight: lighter;
}
p {
  font-size: 120%;
  font-weight: lighter;
}
b {
  font-size: 130%;
  color: orange;
}
code {
  width: 50%;
  white-space: pre-wrap;
  background-color: black;
  border-radius: 0.5rem;
  margin: 1rem 0;
}
